.middle-container {
    background-color: rgb(232, 220, 180);
}

.left-container {
    flex: 1;

}

.middle-container {
    flex: 1.7;
}

.right-container {
    flex: 1;
}

.board {
    border: 5px solid rgb(52, 9, 9);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    width: 45rem;
    height: 45rem;
    margin: 0 auto;
    background-color: rgb(52, 9, 9);
    border-radius: 2%;
}

.turn{
    color: #155724;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    color: rgb(52, 9, 9);
    cursor: pointer;
    background-color: rgb(214, 155, 155);
    border-radius: 5%;
}

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-box {
    background-color: #f7d6cf;
    border: 5px solid rgb(52, 9, 9);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #c63939;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    animation: confetti 2s ease-out;
}

.alert-box.success {
    background-color: #f3e0a9;
    border-color: rgb(52, 9, 9);
    color: #155724;
}



@keyframes confetti {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(5deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(3deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.alert-box.error {
    background-color: rgb(232, 220, 180);
    border-color: rgb(52, 9, 9);
    color: #721c24;
}

.alert-box.tie {
    background-color: rgb(232, 220, 180);
    border-color: rgb(52, 9, 9);
    color: #856404;
}


@media (max-width: 600px) {
      /* Adjust styles for small screens here */

      /* Example: Center the container */
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      /* Example: Adjust button styles for small screens */
      .button {
        font-size: 1.2em;
      }

      /* Example: Adjust board layout for small screens */
      .board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 5px;
      }

      /* Example: Adjust cell size for small screens */
      .cell {
        width: 50px;
        height: 50px;
      }
    }
