.middle-container {
    background-color: rgb(232, 220, 180);
}

.left-container {
    flex: 1;

}

.middle-container {
    flex: 1.7;
}

.right-container {
    flex: 1;
}

.board {
    border: 5px solid rgb(52, 9, 9);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    width: 45rem;
    height: 45rem;
    margin: 0 auto;
    background-color: rgb(52, 9, 9);
    border-radius: 2%;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    color: rgb(52, 9, 9);
    cursor: pointer;
    background-color: rgb(214, 155, 155);
    border-radius: 5%;
}

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-box {
    background-color: rgb(214, 155, 155);
    border: 2px solid rgb(52, 9, 9);
    border-radius: 5px;
    padding: 10px;
    width: 25rem;
    text-align: center;
    font-size: 67px;
    font-weight: bold;
    color: rgb(52, 9, 9);
}

.alert-box.success {
    background-color: rgb(232, 220, 180);
    border-color: rgb(52, 9, 9);
    color: #155724;
}

.alert-box.error {
    background-color: rgb(232, 220, 180);
    border-color: rgb(52, 9, 9);
    color: #721c24;
}

.alert-box.tie {
    background-color: rgb(232, 220, 180);
    border-color: rgb(52, 9, 9);
    color: #856404;
}